---
import Header from "../components/Header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>"Test"</title>
	</head>
	<body class="flex flex-col min-h-screen">
    <Header />

    <p class="flex-grow bg-base-200">あああaaa亜阿唖</p>

    <footer class="footer p-3 bg-base-300 flex justify-center items-center">
      <div>
        <p>©Belandy</p>
      </div>
    </footer>
	</body>
</html>
