---
---

<div class="drawer-side z-50">
  <label for="my-drawer-3" class="drawer-overlay"></label>
  <ul class="menu p-4 w-80 h-full bg-base-200">
    <li><a href="/">Home</a></li>
    <li><a href="/posts/about/">About</a></li>
    <li><a href="/blog/">ブログ</a></li>
    <li><a href="/tags/">タグ</a></li>
  </ul>
</div>
